body {
  background-color: #292929;
}

.containerBig {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
}

.containerSmall {
  max-width: 100%;
  padding: 0 3%;
  margin: 0 auto 40%;
}

.ParticipantCardBig, .ParticipantNameBig, .button_big {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 16px 32px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  color: #ffffff;
}

.ParticipantCardSmall, .ParticipantNameSmall, .button_small {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 14px 10px;
  font-weight: 350;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

.cards, .cards_small {
  height: 100%;
  overflow: auto;
  margin: 3% 0 40%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.cards_small {
  margin-bottom: 160%;
}

.ParticipantCardBig, .ParticipantCardSmall {
  position: relative;
  margin-bottom: 3%;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ParticipantNameBig, .ParticipantNameSmall {
  width: 60%;
  background-color: transparent;
  border: solid transparent 3px;
  border-radius: 24px;
}

.ParticipantNameSmall {
  width: 100%;
  text-align: left;
  margin-right: 5px;
}

.button_big, .button_small {
  border: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.button_small {
  padding: 10px;
}

.ParticipantNameBig::placeholder {
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}

.ParticipantNameSmall::placeholder {
  color: #ffffff;
  font-weight: 350;
  font-style: normal;
  font-size: 20px;
}


.ParticipantNameBig:focus, .ParticipantNameSmall:focus {
  border: solid rgba(255, 255, 255, 0.24) 3px;
  outline: none;
}

.transition {
  transition: transform ease-in 0.5s;
}

.span_small {
  display: flex;
  align-items: center;
}

.minus {
  padding: 10.5px 12px;
}

.help {
  flex-direction: column;
}

.button_exit_big {
  background-color: rgba(255, 255, 255, 0.24);
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  align-self: flex-end;
  padding: 8px 16px;
}

.button_exit_small {
  background-color: rgba(255, 255, 255, 0.24);
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  font-weight: 350;
  font-style: normal;
  font-size: 20px;
  align-self: flex-end;
  padding: 5px;
}
