body {
  background-color: #292929;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
}

.ParticipantCard, .ParticipantName, .plus_button, .minus_button {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 16px 32px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.notes {
  margin: 36px 0 144px;
  padding: 0;
  list-style: none;
}

.ParticipantCard {
  margin-bottom: 24px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ParticipantName {
  background-color: transparent;
  border: solid transparent 3px;
  border-radius: 24px;
}

.plus_button {
  border: 0;
  border-radius: 10px;
  margin-left: 10px;

  padding-left: 28px;
  padding-right: 28px;
}

.minus_button {
  border: 0;
  border-radius: 10px;
  margin-left: 10px;
}

::placeholder {
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
}

.ParticipantName:focus {
  border: solid rgba(255, 255, 255, 0.24) 3px;
  outline: none;
}
